@import "tailwindcss";

@theme {
  --color-background: #000000;
  --color-foreground: #ffffff;
}

/* Custom Utilities */
@utility glass-panel {
  @apply bg-black/80 border border-white/20 shadow-none;
}

body {
  color: var(--color-foreground);
  background: var(--color-background);
  font-family: "Courier New", Courier, monospace;
  -webkit-font-smoothing: antialiased;
}
